<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Change Password</title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h1>Change Password</h1>
      <form name='f' th:action="@{/PasswordChangedSuccessfully}" method='POST'>
         <table>
            <tr>
               <td>MobileNo:</td>
               <td><input type='text' name='mobile_no' value=''></td>
            </tr>
            <tr>
               <td>New Password:</td>
               <td><input type='password' name='Newpassword' /></td>
            </tr>  
             <tr>
               <td>Confirm Password:</td>
               <td><input type='password' name='Confirmpassword' /></td>
            </tr>         
            <tr>
               <td><input name="submit" type="submit" value="Change Password" /></td>
            </tr>
         </table>
      </form>
   </body>
    
</html>